fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-multipart
pydantic-settings
passlib[bcrypt]
streamlit
requests
pandas
opencv-python
Pillow
paddleocr
paddlepaddle
python-dotenv
qrcode[pil]
